/*@font-face {
  font-family: 'Delius Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Delius Swash Caps'), local('DeliusSwashCaps-Regular'), url(uXyrEUnoWApxIOICunRq7xbQRjsi10T1l0tKsMkz-vA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}*/

body, html {
	height:100%;
	font-family: arial;
}

body {
	background-repeat: no-repeat;
	background-position: right 20px top 20px;
	background-color: white;
	margin:20px;
}

h1 {
	font-size: 40px;
	text-transform: uppercase;
}

a { color: inherit; 
	text-decoration: none;
} 

#patient-table {
	width:100%;
}

#patient-table th {
	text-align: left;
	font-weight: normal;
}

#patient-table .main-header {
	font-size:40px;
}

#patient-table .sub-header th {
	font-size: 30px;
	color: #666666;
	padding-top: 0px;
	padding-bottom: 20px;
}

#patient-table tbody td {
	font-size:20px;
}

#patient-table tbody tr:nth-child(even) {
  background: #D0E4F5;
}

#patient-table td {
	padding:10px;
}
